
.Modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 999;
}

.Modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.Modal-overlay-enter {
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.Modal-overlay-enter.Modal-overlay-enter-active {
    opacity: 1;
    visibility: visible;
}

.Modal-overlay-leave {
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.Modal-overlay-leave.Modal-overlay-leave-active {
    opacity: 0;
    visibility: hidden;
}

.Modal-body-enter {
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: .2s;
}

.Modal-body-enter.Modal-body-enter-active {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.Modal-body-leave {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .3s;
}

.Modal-body-leave.Modal-body-leave-active {
    transform: translate(-50%, -60%);
    opacity: 0;
}
